.myBG {
    height:7cm;
    background :  rgb(20, 26, 19);
    background-size:7cm
}

.home{
    fill-opacity: 20%;
}

.about {
    height:7cm;
    background :  rgb(92, 118, 87);
    background-size:7cm
}

.images {
    height: 500px;
}